/*  google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
/* header style */

header{
    background-color:#2D25A0;
    padding-bottom: 50px;
    margin-bottom: 70px;
    
}
nav{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 30px;  
    
    
}
a{
    text-decoration: none;
}

.menu ul{
    list-style: none;
    display: flex;
    margin-left: 20px;
}
.menu ul li a{
    
    font-size: 16px;
    color: #ffffff;
    margin-right: 26px;
    padding: 5px 10px;
    border-radius: 10px;
}
.menu ul li a:hover{
    color: black;
    background-color: #ffffff;

}
.login {
    display: flex;
    background-color: #E02C6D;
    align-items: center;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 40px;
    margin-left:450px ;
}
 .login img{
    width: 20px;
    height: 15px;
    margin-right: 5px;
} 
.login a{
    color: white;
}
.login:hover {
     background-image:linear-gradient(orange,red) ; 
    
}

.banner{
    display:flex;
    justify-content: space-around;
    
}
.banner-title h1{
    font-weight: 700px;
    font-size: 60px;
    color: white;
}
.thumbnail img{
    width: 556.01px;
    height: 438px;
    transition-duration:1s ;
}
.thumbnail img:hover{
    /* box-shadow: 10px 10px  30px rgb(189 189 189); */
    transform: scale(110%);
}


.live-link{
    background-color:  #E02C6D;
    font-size: 16px;
    padding: 7px 25px;
    color: white;
    font-weight: 700px;
}
.live-link i{
    margin-left: 10px;
    align-items: center;
}
.live-link:hover{
     background-image:linear-gradient(orange,red) ;
}

/* top player style */
.top-players , .top-clubs{
    margin-bottom: 50px;
    margin-top: 30px;
}
.players, .clubs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:30px ;
    grid-column-gap: 30px;
    margin-bottom: 165px;
    margin:0 100px;
}
.player , .club{
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
}
.player img{
    width: 100%;
}

/* top clubs style */

h2{
    text-align: center;
}
h2 hr{
    width:300px;
    border: 1px dashed blue;
}
.top-clubs{
    display: flex;
   
}
.club{
    height: 100%;
    width: 100%;
    text-align: center;
}
.club-title,.club-details {
    text-align: center;
}

.see-more{
    
    padding: 5px 10px;
    border-radius: 20px;
}
.see-more:hover{
    background-image: linear-gradient(orange,red);
}

/* upcoming match style */
.up-match{
     background-image: linear-gradient(rgb(123, 255, 0),green);
     padding-bottom: 50px;
     padding-top: 30px;
     margin: 30px 100px;
     border-radius: 5px;
   
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    

  }
.match-details {
    margin-left: auto; 
    margin-right: auto;
    
  }
  table{
      width: 80%;
      padding-top: 30px;
  }
  td{
      text-align: center;
     
  }

  /* footer style */

footer {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    margin-top: 100px;
   padding-bottom: 20px;
 
   
}
.logo img{
    width: 400px;
    height: 100px;
}
.social-media img{
    height: 30px;
    width: 30px;
}

/* responsive style */
 
@media screen and (max-width:688px) {
    
    .container{
        width: 100%;
    }
    nav {
      
        flex-direction: column;
    }
    .login{
    margin-right:440px ;
    }
    .banner {
       
        flex-direction: column;
        align-items: center;
    }
    .thumbnail img {
     
        width: 100%;
    }
    .banner-title h1 {
        font-size: 30px;
        text-align: center;
      
    }
    .live-link {
        display: block;
        width: 36%;
        margin: 50px auto;
    }
   
    .menu ul{
       
        flex-direction: column;
        align-items: center;
    }

    .players, .clubs{
        
        grid-template-columns: repeat(1,1fr);
       
    }
    .club img{
        padding-left: -75px;
        height: 210px;
        width: 100%;
    }
    h2{
        font-size: 15px;
    }
    h2 hr{
        width:200px;
        
    }
    .logo img{
        width: 150px;
        height: 80px;
    }
    .up-match{
        width: 150px;
    }
    .logo img {
     
        width: 150px;
    }
    footer{
        padding-bottom: 30px;
    }
}
 



 

